<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Vehicules</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Accueil</a></li>
          <li class="breadcrumb-item active">Vehicules</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Listes des véhicules en cours de réparation</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table class="table table-bordered table-hover" id="example2">
              <thead>
              <tr>
                <th>Client</th>
                <th>Voiture</th>
                <th>Date d'entrée</th>
                <th>Avancement</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let rep of reparations">
                <td>{{ rep.voiture }}</td>
                <td>{{ rep.voiture.marque }} {{rep.voiture.model}}</td>
                <td>{{ rep.date_entree }}</td>
                <td>{{ rep.avancement }}</td>
                <td><button type="button" class="btn btn-block btn-dark btn-sm" (click)="getDetail(rep)">Détails</button></td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
