<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-10">
        <h1>Statistiques</h1>
      </div>
      <div class="col-sm-2">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Accueil</a></li>
          <li class="breadcrumb-item active">Statistiques</li>
        </ol>
      </div>

    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <ngx-charts-number-card
          (select)="onSelect($event)"
          [cardColor]="cardColor"
          [results]="reparationMoyenne"
          [view]="viewTableau">
        </ngx-charts-number-card>
      </div>
      <!--      <div class="col-md-6">Another Statistique here</div>-->
    </div>
    <hr>
    <div class="row">
      <h1>Chiffre d'affaires </h1>
      <div class="col-md-6">
        <div class="row">
          <form (ngSubmit)="loadCAJour()" [formGroup]="form">
            <p>Selectionner deux dates : </p>
            <div class="col-lg-6"><input class="form-control" formControlName="date1" type="date"></div>
            <div class="col-lg-6"><input class="form-control" formControlName="date2" type="date"></div>
            <button class="btn btn-primary">Valider</button>
          </form>
        </div>
        <div class="card-body p-0">
          <table class="table table-sm">
            <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Date</th>
              <th>CA</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chiffreAffaire of chiffreAffaires">
              <td>#.</td>
              <td> <span class="badge bg-dark">{{chiffreAffaire._id | date :  'dd/MM/yyyy'}}</span></td>
              <td><span class="badge bg-secondary">{{chiffreAffaire.total | number}} Ar</span></td>
            </tr>
            </tbody>
          </table>
        </div>
        <h3>Chiffre d'affaire : {{chiffreAffaire | number}} Ar</h3>
      </div>

      <div class="col-md-6">
        <p>Selectionner un mois pour voir le chiffre d'affaire</p>
        <form [formGroup]="formMois">
          <select (change)="loadCAMois()" class="form-control" formControlName="mois">
            <option value="">Mois</option>
            <option *ngFor="let month of months" [value]="month.value">
              {{ month.viewValue }}</option>
          </select>
        </form>
        <br><br><br>
        <h3>Chiffre d'affaire Mois  : {{chiffreAffaireMois}} Ar</h3>
      </div>
      <!--      <div class="col-md-4"></div>-->
    </div>

  </div>

</section>
