<div [ngClass]="{'blur-background': dialogIsOpen}">
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-10">
            <h1>Détails</h1>
          </div>
          <div class="col-sm-2">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Accueil</a></li>
              <li class="breadcrumb-item active">Détails</li>
            </ol>
          </div>

        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <div class="row">
                <div class="col-md-10">
                  <div class="callout callout-info">
                    <h3><i class="fas fa-info-circle"></i> Note: Toutes les sous-réparations doivent être fini pour voir le bon de sortie</h3>
                    <div *ngIf="reparation?.avancement=='terminée';else enCours ">
                      <i class="nav-icon fas fa-check-square" style="color:green"></i> La réparation de ce véhicule est terminée
                    </div>
                    <ng-template #enCours>
                      <i class="nav-icon fa fa-warning" style="color:darkgoldenrod"></i>Ce véhicule est en cours de réparation
                    </ng-template>

                  </div>
                </div>
                <div class="col-md-2">
                  <button (click)="viewBonSortie(reparation)" [disabled]="reparation?.avancement!='terminée'"
                          class="btn btn-primary float-right"
                          style="margin-right: 5px;" type="button">
                    <i class="fas fa-download"></i> Voir Bon de Sortie
                  </button>
                </div>
              </div>
              <hr>
              <!-- title row -->
              <div class="row">
                <div class="col-10">
                  <h2>
                    <i class="fas fa-globe"></i> Garage, Inc.
                  </h2>
                </div>
                <div class="col-2">
                  <h2><small class="float-right">Date: {{ date | date :  'dd-MM-yyy' }}</small></h2>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                  Voiture :
                  <address>
                    <strong>{{reparation?.voiture?.marque}} {{reparation?.voiture?.model}}</strong><br>
                    {{reparation?.voiture?.matricule}}<br>
                    Date d'entrée : {{reparation?.date_entree | date : 'dd-MM-yyy HH:mm' }}<br>
                    Etat : {{reparation?.avancement}}
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  Client
                  <address>
                    <strong>Nom : {{reparation?.voiture?.idClient?.nom}} </strong><br>
                    {{reparation?.voiture?.idClient?.adresse}}<br>
                    032 45 256 45<br>
                    Email: {{reparation?.voiture?.idClient?.mail}}
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  <b>Fiche de reparation </b><br>
                  <br>
                  <b>Order ID :</b> {{reparation?._id}}<br>
                  <b>Ajd :</b> {{ date | date :  'dd-MM-yyy' }}<br>
                  <b>Compte :</b> 968-34567
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
              <hr>
              <div *ngIf="bonSortie?.valide=='false'">
                <div class="card card-dark">
                  <div class="card-header">
                    <h3 class="card-title">Ajouter de nouvelle réparation</h3>
                  </div>

                  <div class="card-body">
                    <form (ngSubmit)="addSousReparation(reparation)" [formGroup]="form">
                      <div class="row">
                        <div class="col-4">
                          <input class="form-control" formControlName="reparation" type="hidden">
                          <input class="form-control" formControlName="motif" placeholder="Motif de réparation ..."  type="text">
                        </div>
                        <div class="col-4">
                          <input class="form-control" formControlName="montant" placeholder="Montant" type="number">
                        </div>
                        <div class="col-4">
                          <button [disabled]="!form.valid" class="form-control btn btn-success">Ajouter</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Description</th>
                      <th>Montant</th>
                      <th>Status</th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let sousrep of sousreparations">
                      <td>{{sousrep.motif}}</td>
                      <td>{{sousrep.montant | number }} Ar</td>
                      <td>{{sousrep.status}}</td>
                      <td>
                        <div *ngIf="sousrep.status!='terminée';else terminate ">
                          <button (click)="setStatus(sousrep)" class="btn btn-success" title="Finir la réparation">
                            <i class="nav-icon fas fa-check"></i>
                          </button>
                          <button (click)="deleteSousReparation(sousrep)" class="btn btn-danger"
                                  title="Annuler cette réparation">
                            <i class="nav-icon fas fa-trash"></i>
                          </button>
                        </div>
                        <ng-template #terminate>
                          <i class="nav-icon fas fa-check-circle" style="color:green"></i>
                        </ng-template>
                      </td>
                    </tr>

                    </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
</div>
