<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Détails</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item active">Détails</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="callout callout-info">
            <h5><i class="fas fa-info"></i> Note:</h5>
            Cette voiture est encore en {{reparation?.avancement}} de réparation
          </div>


          <!-- Main content -->
          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
              <div class="col-12">
                <h4>
                  <i class="fas fa-globe"></i> Garage, Inc.
                  <small class="float-right">Date: {{dateNow}}</small>
                </h4>
              </div>
              <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
              <div class="col-sm-4 invoice-col">
                Voiture :
                <address>
                  <strong>{{reparation?.voiture?.marque}} {{reparation?.voiture?.model}}</strong><br>
                  {{reparation?.voiture?.matricule}}<br>
                  Date d'entrée : {{reparation?.date_entree}}<br>
                  Etat : {{reparation?.avancement}} de réparation
                </address>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                Client :
                <address>
                  <strong>John Doe</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                  Email: john.doe@example.com
                </address>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                <b>Invoice #007612</b><br>
                <br>
                <b>Order ID:</b> 4F3S8J<br>
                <b>Payment Due:</b> 2/22/2014<br>
                <b>Account:</b> 968-34567
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
            <hr>
            <div class="card card-dark">
              <div class="card-header">
                <h3 class="card-title">Ajouter de nouvelle réparation</h3>
              </div>

              <div class="card-body">
                <form (ngSubmit)="addSousReparation(reparation)" [formGroup]="form">
                  <div class="row">
                    <div class="col-4">
                      <input class="form-control" formControlName="reparation"
                             type="hidden">
                      <input class="form-control" formControlName="motif" placeholder="Motif de réparation ..."
                             type="text">
                    </div>
                    <div class="col-4">
                      <input class="form-control" formControlName="montant" placeholder="Montant" type="number">
                    </div>
                    <div class="col-4">
                      <button [disabled]="!form.valid" class="form-control btn btn-success">Ajouter</button>
                    </div>
                  </div>
                </form>
              </div>

              <!-- /.card-body -->
            </div>
            <!-- Table row -->
            <div class="row">
              <div class="col-12 table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Description</th>
                    <th>Montant</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let sousrep of sousreparations">
                    <td>{{sousrep.motif}}</td>
                    <td>{{sousrep.montant}} Ar</td>
                    <td>{{sousrep.status}}</td>
                    <td>
                      <button class="btn btn-warning" (click)="setStatus()"><i class="nav-icon fas fa-edit"></i></button>
                      <button class="btn btn-danger" (click)="deleteSousReparation(sousrep)"><i class="nav-icon fas fa-trash"></i></button>
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <!-- accepted payments column -->
              <div class="col-6">
                <p class="lead">Payment Methods:</p>
                <img alt="Visa" src="../../dist/img/credit/visa.png">
                <img alt="Mastercard" src="../../dist/img/credit/mastercard.png">
                <img alt="American Express" src="../../dist/img/credit/american-express.png">
                <img alt="Paypal" src="../../dist/img/credit/paypal2.png">

                <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                  Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
                  plugg
                  dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                </p>
              </div>
              <!-- /.col -->
              <div class="col-6">
                <p class="lead">Total du {{dateNow}}</p>

                <div class="table-responsive">
                  <table class="table">
                    <tr>
                      <th style="width:50%">Subtotal:</th>
                      <td>250.030 Ar</td>
                    </tr>
                    <tr>
                      <th>Pourboire</th>
                      <td>10.34 Ar</td>
                    </tr>
                    <tr>
                      <th>Total:</th>
                      <td>265.240 Ar</td>
                    </tr>
                  </table>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- this row will not appear when printing -->
            <div class="row no-print">
              <div class="col-12">

                <button class="btn btn-success float-right" type="button"><i class="fas fa-check-circle"></i>
                  Valider Bon de Sortie
                </button>
                <button class="btn btn-primary float-right" style="margin-right: 5px;" type="button"><i
                  class="fas fa-download"></i> Voir Bon de Sortie
                </button>
              </div>
            </div>
          </div>
          <!-- /.invoice -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
